*.yml
build/
node_modules/
test/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
doc/
docs/
undefined/
temp/
yarn.lock
yarn-error.log
package-lock.json
.editorconfig
.eslintignore
.lintstagedrc
.prettierignore
.prettierrc
.eslintrc.js
.babelrc
jsdoc.config.json

dist/demo.html
dist/quick-el-modal.common.js
dist/quick-el-modal.common.1.js
dist/quick-el-modal.common.2.js
dist/quick-el-modal.umd.js
dist/quick-el-modal.umd.1.js
dist/quick-el-modal.umd.2.js
dist/quick-el-modal.umd.min.1.js
dist/quick-el-modal.umd.min.2.js